@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
  font-family: 'big';
  src: url('../../public/fonts/BIGJOHN.otf');
}


:root {
  --bleuclair: #4166b0;
  --bleufonce: #222055;
  --bleuinter: #3d619e;
  --noirmonster: #231f20;
}

html {
  background-color: var(--bleufonce);
  font-family: var(--font-montserrat);
}

main>* {
  margin-bottom: 5%;
}

.c1 {
  background-color: #866fed
}

.c2 {
  background-color: #72b6ec
}

.c3 {
  background-color: #ed7a6f
}

.c4 {
  background-color: #86c49a
}

.c5 {
  background-color: #f1b8cb
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: .7px;
}

body {
  position: static;
}

a {
  text-decoration: none;
  color: white;
  font-family: var(--font-montserrat);
  -webkit-transition: color .6s;
  transition: color .6s;
}

a:hover {
  color: var(--bleufonce);
}

body {
  margin: 5%;
  background-color: var(--bleuclair);
  min-height: 100%;
}

img {
  max-width: 100%
}

nav {
  text-align: right;
  padding: 3%;
}

nav li {
  display: inline-block;
  color: white;
  padding: 2%;
  font-size: .8em;
  font-weight: 400;
}

.mobilenav ul li a {
  color: white;
  width: 100%;
  text-decoration: none;
}

.mobilenav ul li a:hover {
  color: var(--bleufonce);
  text-decoration: none!important;
  width: 100%;
  border: none;
}

@media (max-width: 768px) {
  nav {
      display: none;
  }
}

@media (min-width: 1824px) {
  body {
      margin: 5% 20%;
  }
   :host {
      width: 60%;
  }
}

h1 {
  text-align: center;
  position: relative;
  font-size: 1.5em;
  margin-bottom: 20%;
  margin-top: 40px;
}

h1 span:first-child {
  font-family: big;
  font-size: 10vw;
  color: var(--bleuinter);
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}

h1 span:last-child {
  font-family: var(--font-dancing);
  font-size: 7.5vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 7%;
  bottom: 0;
  color: white;
}

h2 {
  font-family: var(--font-montserrat);
  color: var(--bleufonce);
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 5%;
}

 
